/*The side bar*/
.sidebar {
    height: 100em; 
    width: 10em; 
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0;
    right: 0;
    border: 3px dashed black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding:50px 50px 50px 25px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
    padding: 10px;
}

#navBar {
    /* background-color; Custom background color */
    padding: 15px 30px; /* Adjusts padding */
    width: 68.5em;
}
.card-container div{
    display:flex;
    height: 100%;
}
